.canvas-container {
    position: relative;
    top: 4px;
    width: 100%;
    height: 100%;
    /* background: url('../icons/grid.png'); */
    /* background-repeat: repeat; */
}
#c {
    border: 1px solid #cccccc;
}
@media only screen and (min-width: 601px) {
nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
    height: 38px;
    line-height: 35px;
}
}


.toolbar-icon {
    width: 100px;
    height: 100px;
    background-size: 39px 37px;
    background-repeat: no-repeat;
    background-position: 0px;
    background-clip: border-box;
    background-blend-mode: multiply;
}
.path-tool {
    background-image: url('../icons/path.png') !important;
}

.snap-tool {
    background-image: url('../icons/snapToGrid.png');
}
.arc-tool {
    /* background-image: url('../icons/arc_new.png'); */
    background-image: url('../icons/arc.png');
}
.active {
    background-color: #8a8a8a;
}

#toolbar {
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    height: 36px;
    border-top: 1px solid #BDBDBD;
    border-bottom: 1px solid #BDBDBD;
    background-color: #F2F2F2;
    overflow: hidden;
    z-index: 5; }

.toolbar-item {
    float: left;
    width: 26px;
    height: 26px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: 1px 1px;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
    padding: 1px;
    border: 1px solid transparent; }
    .toolbar-item:hover {
        border: 1px solid #CCCCCC;
        box-shadow: 1px 1px 1px #dadada; }
    .toolbar-item:active {
        border: 1px solid #CCCCCC;
        box-shadow: 1px 1px 2px #b7b7b7 inset;
        background-color: #e8e8e8;
        border: 1px solid #cecece; }

.toolbar-separator {
    float: left;
    /* border-left: 1px solid #73adaa; */
    border-left: 1px solid #cccccc;
    width: 8px;
    margin-left: 8px;
    height: 36px; }


.circle {
    background-image: url('../icons/circle.png'); 
}
.line {
    background-image: url('../icons/line.png'); 
}
.rectangle {
    background-image: url('../icons/rect.png'); 
}
.path {
    background-image: url('../icons/path.png'); 
}
.snap-to-grid {
    background-image: url('../icons/snapToGrid.png');  
}
.radial-snap {
    background-image: url('../icons/radial_snap.png');
}

.activeItem {
    background-color: #FFA500;
}

.ellipse {
    background-image: url('../icons/ellipse.png');
}

.toast {
   
}
.arc {
    background-image: url('../icons/arc.png');
}
